<!-- views/crear.ejs -->

<h1>Crear nuevo post</h1>

<form action="/crear" method="POST">
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" required>

  <label for="contenido">Contenido:</label>
  <textarea id="contenido" name="contenido" rows="4" required></textarea>

  <label for="imagen_url">Enlace de Imagen:</label>
  <input type="url" id="imagen_url" name="imagen_url">

  <label for="fecha_creacion">Fecha de Creación:</label>
  <input type="date" id="fecha_creacion" name="fecha_creacion" required>

  <button type="submit">Crear</button>
</form>
