<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    <!-- Enlaza Bootstrap CSS desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Enlaza tus estilos CSS personalizados después de Bootstrap -->
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  
  <body>
    <!-- Navbar lateral con clases de Bootstrap -->
    <nav class="navbar navbar-dark bg-dark">
      <!-- Agrega enlaces y estilos según tus necesidades -->
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/post"> Posts</a></li>
      </ul>
    </nav>
  
    <!-- Contenido de la página de inicio con clases de Bootstrap -->
    <header class="container-fluid text-center py-5">
      <h1 class="display-4">Bienvenido a Mi Foro</h1>
      <img src="https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-plana-del-concepto-de-foro-internet-sitios-web-p%C3%A1ginas-aterrizaje-aplicaciones-m%C3%B3viles-carteles-y-banners-199184557.jpg" alt="Imagen de fondo" class="img-fluid">
    </header>
  
    <!-- Resto del contenido de la página de inicio -->
    <!-- Puedes agregar más secciones o elementos según sea necesario -->
  
    <!-- Enlaza tus scripts JavaScript según sea necesario -->
  </body>
</html>
