<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/post">Posts</a></li>
        </ul>
        <div class="container titulo">
          <div class="row">
            <div class="col text-center">
              <h1 class="display-4">Bienvenidos a mi foro</h1>
            </div>
          </div>
        </div>
      
    </nav>
    <header class="container-fluid text-center py-0">
      <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-foro-internet_335657-3679.jpg?w=2000" alt="Imagen de fondo" class="img-fluid">
    </header>
  
  </body>
</html>
